    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gamelark Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- plugins:css -->
    <link rel="stylesheet" href="/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/stylesheets/admin-style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/glark.png" />

    <!-- Include SweetAlert CSS and JS files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>


    {{#if userData}}
    <link rel="stylesheet" href="/stylesheets/usmng-style.css">
    {{/if}}

    {{#if productMng}}
    <link rel="stylesheet" href="/stylesheets/productmng.css">
    {{/if}}

    {{#if action}}
    <link rel="stylesheet" href="/stylesheets/templatemo-style.css">
    {{/if}}