<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo">
            <img src="/images/logo.png" alt="" />
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/consoles">Consoles</a></li>
            <li><a href="/accessories">Accessories</a></li>
            <li><a href="/profile" id="profile-link"><i class="fa-solid fa-user"></i></a></li>
            <li><a href="/gocart" id="cart-link"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href="/gowish" id="wish-link"><i class="fa-solid fa-heart"></i></a></li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Your JavaScript code -->
<script>
  $(document).ready(function() { $('.nav a').click(function() {
  $(this).addClass('active'); }); });
</script>