<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <!-- ***** Banner Start ***** -->
        <div class="row">
          <div class="col-lg-12">
            <div class="main-profile">
              <div class="row" style="opacity: 0; height: 0;">
                <div
                  class="col-lg-4 align-self-center ps-5"
                  style="width: 50%;"
                >
                  <div class="main-info header-text">
                    <p>Phone</p>
                    <div class="main-border-button">
                      <button
                        onclick="location.href='/logout'"
                        id="logout-button"
                      >logout</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="PageResults__container">
                <div class="search-empty-img">
                  <img src="/images/404.png" alt="" />
                  <br />
                  <p class="glitch text" data-text="Area not available">Area not
                    available</p>
                  <p
                    class="glitch text"
                    data-text="Desynchronization Imminent"
                  >Desynchronization Imminent</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ***** Banner End ***** -->

      </div>
    </div>
  </div>
</div>