<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <br>
                    <br>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Log In</h4>
                                        <form action="/login" method="post">
                                        <div class="form-group mt-2">
                                            <input type="email" name="email" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                            <i class="input-icon uil uil-at"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <div>
                                        <button class="btn mt-3" type="submit"><a>submit</a></button>
                                        </div>
                                        {{#if passErr}}
                                        <br>
                                        <span style="color: #ec6090;">Check your password</span>
                                        {{/if}}
                                        {{#if nameErr}}
                                        <br>
                                        <span style="color: #ec6090;">User not found!</span>
                                        {{/if}}
                                        <div>
                                        {{!-- <button class="dummy" type="submit"><p class="mb-0 mt-3 text-center"><a href="/forgot" class="link">Forgot your password?</a></p></button> --}}
                                        <button class="dummy" type="submit" style="padding-top: 30px;"><a class="text-center" href="/forgot" style="margin-top: 10px; color: #fff;" >Forgot your password?</a></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>